<ion-view title="Confirm Payment" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="confirmPayment-heading3" style="color:#000000;">Heading</h3>
    <div id="confirmPayment-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="confirmPayment-heading4" style="color:#000000;">Heading</h3>
    <div id="confirmPayment-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="menu.home" id="confirmPayment-button5" class="button button-stable  button-block">Pay</a>
  </ion-content>
</ion-view>