<ion-view title="Payment Record" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentRecord-list2" ng-init="record()">
      <div class="item item-body" id="paymentRecord-list-item-container3" ng-repeat="record in recordList">
        <div id="paymentRecord-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>To: </strong> {{record.taddr}}
          </p>
        </div>
        <div id="paymentRecord-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Date: </strong> {{record.time}}
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>