<ion-view title="Payment Record" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentRecord-list2">
      <div class="item item-body" id="paymentRecord-list-item-container3">
        <div id="paymentRecord-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
        <div id="paymentRecord-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="paymentRecord-list-item-container5">
        <div id="paymentRecord-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
        <div id="paymentRecord-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="paymentRecord-list-item-container6">
        <div id="paymentRecord-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
        <div id="paymentRecord-markdown12" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>