<ion-view title="Setting" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="setting-list3">
      <ion-item class="item-divider" id="setting-list-item-divider1"> Account Setting</ion-item>
      <ion-item class="item-icon-right" id="setting-list-item16">Name
        <i class="icon ion-android-contact"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="setting-list-item17">Email
        <i class="icon ion-email"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="setting-list-item15">Password
        <i class="icon ion-android-lock"></i>
      </ion-item>
      <ion-item class="item-divider" id="setting-list-item-divider2"> Notification Setting</ion-item>
      <ion-toggle toggle-class="toggle-positive" id="setting-toggle1">Vibrate</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="setting-toggle2">Light</ion-toggle>
      <ion-item class="item-divider" id="setting-list-item-divider3"> Help</ion-item>
      <ion-item id="setting-list-item18">FAQ</ion-item>
      <ion-item id="setting-list-item19">Contact Us</ion-item>
    </ion-list>
  </ion-content>
</ion-view>