<ion-view title="Transfer" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="transfer-heading5" style="color:#000000;text-align:center;">{{amount}}</h1>
    <div id="transfer-button-bar1" class="button-bar">
      <button id="transfer-button14" ng-click="Add('1')" class="button button-stable  button-block">1</button>
      <button id="transfer-button15" ng-click="Add('2')" class="button button-stable  button-block">2</button>
      <button id="transfer-button16" ng-click="Add('3')" class="button button-stable  button-block">3</button>
    </div>
    <div id="transfer-button-bar2" class="button-bar">
      <button id="transfer-button17" ng-click="Add('4')" class="button button-stable  button-block">4</button>
      <button id="transfer-button18" ng-click="Add('5')" class="button button-stable  button-block">5</button>
      <button id="transfer-button19" ng-click="Add('6')" class="button button-stable  button-block">6</button>
    </div>
    <div id="transfer-button-bar3" class="button-bar">
      <button id="transfer-button20" ng-click="Add('7')" class="button button-stable  button-block">7</button>
      <button id="transfer-button21" ng-click="Add('8')" class="button button-stable  button-block">8</button>
      <button id="transfer-button22" ng-click="Add('9')" class="button button-stable  button-block">9</button>
    </div>
    <div id="transfer-button-bar4" class="button-bar">
      <button id="transfer-button23" class="button button-stable  button-block">.</button>
      <button id="transfer-button24" ng-click="Add('0')" class="button button-stable  button-block">0</button>
      <button id="transfer-button25" ng-click="Del()" class="button button-stable  button-block icon ion-backspace"></button>
    </div>
    <button ui-sref="qRCode" id="transfer-button26" class="button button-positive  button-block">SEND</button>
  </ion-content>
</ion-view>